n8n-manager/workflows/auto_healing_ci__github____jules_Kw2hvhbhfBR5hpyY.json
{
  "updatedAt": "2026-02-23T00:13:47.522Z",
  "createdAt": "2026-02-22T23:59:10.443Z",
  "id": "Kw2hvhbhfBR5hpyY",
  "name": "Auto-Healing CI: GitHub -> Jules",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-ci-fail",
        "options": {}
      },
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "id": "webhook-1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.check_run.conclusion }}",
              "value2": "failure"
            }
          ]
        }
      },
      "name": "Is Failure?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "id": "if-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jules-orchestrator:3002/api/v1/sessions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=\"Repair CI failure in \" + $node[\"GitHub Webhook\"].json[\"body\"][\"repository\"][\"full_name\"] + \". Error details: \" + $node[\"GitHub Webhook\"].json[\"body\"][\"check_run\"][\"output\"][\"summary\"]"
            },
            {
              "name": "repository",
              "value": "={{ $node[\"GitHub Webhook\"].json[\"body\"][\"repository\"][\"full_name\"] }}"
            }
          ]
        }
      },
      "name": "Trigger Jules Fix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        200
      ],
      "id": "http-1"
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Is Failure?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failure?": {
      "main": [
        [
          {
            "node": "Trigger Jules Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": null,
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e9564530-d720-41ef-906f-1c2a976b82a5",
  "activeVersionId": "e9564530-d720-41ef-906f-1c2a976b82a5",
  "versionCounter": 5,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T23:59:10.443Z",
      "createdAt": "2026-02-22T23:59:10.443Z",
      "role": "workflow:owner",
      "workflowId": "Kw2hvhbhfBR5hpyY",
      "projectId": "3Aa1TdMrn6HM1XQF",
      "project": {
        "updatedAt": "2026-02-12T16:07:27.309Z",
        "createdAt": "2026-02-12T15:59:26.248Z",
        "id": "3Aa1TdMrn6HM1XQF",
        "name": "Urko Santillan <getxobelaeskola@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ebf74c25-213c-46b9-a63b-e349de02195f",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T15:59:26.248Z",
            "createdAt": "2026-02-12T15:59:26.248Z",
            "userId": "ebf74c25-213c-46b9-a63b-e349de02195f",
            "projectId": "3Aa1TdMrn6HM1XQF",
            "user": {
              "updatedAt": "2026-02-25T06:07:46.200Z",
              "createdAt": "2026-02-12T15:59:25.537Z",
              "id": "ebf74c25-213c-46b9-a63b-e349de02195f",
              "email": "getxobelaeskola@gmail.com",
              "firstName": "Urko",
              "lastName": "Santillan",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-12T16:07:48.567Z",
                "personalization_survey_n8n_version": "2.7.4",
                "companySize": "<20",
                "companyType": "education",
                "role": "customer-support",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "eeqPCy1bi0DhhlxA",
                "userActivatedAt": 1771980703393,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1771404097551
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-22T23:59:10.443Z",
    "createdAt": "2026-02-22T23:59:10.443Z",
    "versionId": "e9564530-d720-41ef-906f-1c2a976b82a5",
    "workflowId": "Kw2hvhbhfBR5hpyY",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "github-ci-fail",
          "options": {}
        },
        "name": "GitHub Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          440,
          300
        ],
        "id": "webhook-1"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.body.check_run.conclusion }}",
                "value2": "failure"
              }
            ]
          }
        },
        "name": "Is Failure?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          660,
          300
        ],
        "id": "if-1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://jules-orchestrator:3002/api/v1/sessions",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "task",
                "value": "=\"Repair CI failure in \" + $node[\"GitHub Webhook\"].json[\"body\"][\"repository\"][\"full_name\"] + \". Error details: \" + $node[\"GitHub Webhook\"].json[\"body\"][\"check_run\"][\"output\"][\"summary\"]"
              },
              {
                "name": "repository",
                "value": "={{ $node[\"GitHub Webhook\"].json[\"body\"][\"repository\"][\"full_name\"] }}"
              }
            ]
          }
        },
        "name": "Trigger Jules Fix",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          880,
          200
        ],
        "id": "http-1"
      }
    ],
    "connections": {
      "GitHub Webhook": {
        "main": [
          [
            {
              "node": "Is Failure?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Failure?": {
        "main": [
          [
            {
              "node": "Trigger Jules Fix",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "import",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}