n8n-manager/workflows/email_history_rag__2rJXZEX2Yl6axOi668n-.json
{
  "updatedAt": "2026-02-24T19:05:30.785Z",
  "createdAt": "2026-02-03T03:15:10.856Z",
  "id": "_2rJXZEX2Yl6axOi668n-",
  "name": "Email History RAG",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "967bcb39-3413-470e-9408-e4a44b72960c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        400,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "QKFjOxtBAHQYEZZd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# RAG AI Agent\n",
        "height": 796,
        "width": 1162
      },
      "id": "830cd77f-5501-4480-a94d-c39bfb93ec0b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "80d90656-2536-469f-8008-b42efb1c3a04",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1392,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant that will get data from RAG and send a good response to user.\n\nToday date is this if user ask for dated or latest data: {{ $now }}\n\nSo add date when send query to vector database because I am already setting the date field in embedding."
        }
      },
      "id": "3252e328-a815-4e5c-82f8-4ed3492c7cd9",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        496,
        128
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "91eb642c-1d46-406b-960f-5bc5107228fd",
      "name": "Embeddings OpenAI5",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1760,
        464
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "QKFjOxtBAHQYEZZd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Watch Trigger (Email) - New Email\n## Get new Email -> Extract the text -> Add to Vector Store",
        "height": 788,
        "width": 1200,
        "color": 4
      },
      "id": "ec4aedcf-cb0c-4afe-b490-61fa5edb91f6",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Get All Emails -> Store embedding in vector db\n#### Code in JavaScript doe nohing, alo we hae o run it maually in th node GetEmailsList email replacing: \nSearch Filters / UID / 1:99",
        "height": 740,
        "width": 1596
      },
      "id": "91c1b538-6378-4646-93c7-e13a1f9a441e",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "250d1c12-5808-4b6c-831a-0c443925ca96",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        192,
        128
      ],
      "webhookId": "61ffbc2d-0469-49ab-8541-694f021112e6",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "769203cc-898d-4990-accf-177e444f2d95",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        576,
        352
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "emails_history",
          "cachedResultName": "emails_history"
        },
        "options": {}
      },
      "id": "5d6e0589-3d6d-4af1-bc18-c44422a9327a",
      "name": "Store Emails in Vector DB",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        1872,
        224
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "80aa329d-0198-4adc-a771-900836ec0dd9",
      "name": "New Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        1376,
        224
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "sdQRBVeYDTIwhWzZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "0626657b-3bde-4f96-8bd9-5801ad74e8d6",
      "name": "Get new Email Body",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1600,
        224
      ],
      "webhookId": "[REDACTED_WEBHOOK_ID]",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "sdQRBVeYDTIwhWzZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Email details:\nDate: {{ $json.date }}\n\nFrom Email: {{ $json.from }}\nFrom Name:  {{ $json.fromName }}\n\nTo Email: {{ $json.to }}\n\nEmail Subject:\n{{ $json.subject }}\n\nEmail body:\n{{ $json.body }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "created_at",
                "value": "={{ $json.date }}"
              },
              {
                "name": "data_source",
                "value": "gmail"
              }
            ]
          }
        }
      },
      "id": "101ea64c-5601-4a35-abd1-11a559d48383",
      "name": "Set proper metadata",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2416,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "separator": "Email details:"
      },
      "id": "77ca03a4-8ea6-4a78-a1d8-d9959997ad3b",
      "name": "Split emails",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "position": [
        2416,
        1392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Email details:\nDate: {{ $json.headers.date }}\n\nFrom Email: {{ $json.from.value[0].address }}\nFrom Name:  {{ $json.from.value[0].name }}\n\nTo Email: {{ $json.to.value[0].address }}\n\nEmail Subject:\n{{ $json.subject }}\n\nEmail body:\n{{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=data_source",
                "value": "=gmail"
              },
              {
                "name": "=created_at",
                "value": "={{ $json.date }}"
              }
            ]
          }
        }
      },
      "id": "20a8708b-5f96-444e-b2fe-05a9c4bc1ba2",
      "name": "Set proper metadata1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2016,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "separator": "Email details:"
      },
      "id": "01ff9eb8-d815-4cf6-b72f-77e10cbccd1b",
      "name": "Split emails1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "position": [
        2096,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3f1fcf5f-9db6-4c63-aa01-ff5e558b18bf",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        656,
        624
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "QKFjOxtBAHQYEZZd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "emailshistory",
          "mode": "list",
          "cachedResultName": "emailshistory"
        },
        "embeddingBatchSize": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2448,
        1024
      ],
      "id": "a6a83854-0cc2-4537-a4e4-4c2e308afaa5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "zkLu855wTsM48Krf",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9dbfc99f-23f3-48dc-8171-f2512d478362",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        2064,
        1392
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "J56dollopBoBBhMU",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "mailboxes": [
          "INBOX"
        ],
        "emailDateRange": {
          "since": ""
        },
        "emailFlags": {},
        "customLabels": {},
        "emailSearchFilters": {
          "uid": "4800:4899"
        },
        "includeParts": [
          "textContent"
        ],
        "limit": 100
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        1568,
        1008
      ],
      "id": "c05062db-1c9c-4235-9f49-ede91408ed35",
      "name": "GetEmailsList email",
      "credentials": {
        "imapApi": {
          "id": "5cs5ZqAuKTKucvlO",
          "name": "IMAP Credentials account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.all().map(item => item.json);\n\nconst extractedData = emails.map(mail => {\n  const cleanBody = mail.textContent\n    ?.replace(/(\\r\\n|\\n|\\r)/gm, ' ')\n    ?.replace(/\\s+/g, ' ')\n    ?.trim()\n    ?.slice(0, 4000);\n\n  return {\n    to: mail.envelope?.to?.[0]?.address || '',\n    from: mail.envelope?.from?.[0]?.address || '',\n    fromName: mail.envelope?.from?.[0]?.name || '',\n    date: mail.envelope?.date || '',\n    subject: mail.envelope?.subject || '',\n    body: cleanBody || '',\n    emailId: mail.uid || ''\n  };\n});\n\nreturn extractedData;"
      },
      "id": "984a8dbc-40b8-483e-bd42-d6d6d4d0fe0d",
      "name": "Refactor Email Body data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1008
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1b419f3e-32bf-47a2-a602-61787a6bbcc4",
      "name": "Embeddings OpenAI11",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2240,
        1392
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "QKFjOxtBAHQYEZZd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\n\nif (!data.processedEmails) {\n  data.processedEmails = {};\n}\n\nlet skipped = 0;\nlet processed = 0;\nconst output = [];\n\nfor (const item of items) {\n  const uid = item.json.emailId;\n  const messageId = item.json.messageId || item.json.subject + item.json.date;\n\n  const uniqueKey = uid || messageId;\n\n  if (!uniqueKey) continue;\n\n  if (data.processedEmails[uniqueKey]) {\n    skipped++;\n  } else {\n    data.processedEmails[uniqueKey] = true;\n    processed++;\n    output.push(item);\n  }\n}\n\ndata.lastRunStats = {\n  processed,\n  skipped,\n  totalSeen: processed + skipped,\n  timestamp: new Date().toISOString()\n};\n\n// Guardar el UID más alto visto en esta ejecución\nconst uids = items\n  .map(i => Number(i.json.emailId))\n  .filter(n => !isNaN(n));\n\nif (uids.length) {\n  const maxUidThisRun = Math.max(...uids);\n  data.lastUID = Math.max(maxUidThisRun, data.lastUID || 0);\n}\n\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        1008
      ],
      "id": "389d490a-0ee9-4bb9-9eff-a8902b286527",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2208,
        1008
      ],
      "id": "5719e810-83db-4ed8-b0c9-44b3f6f5f049",
      "name": "Loop over all emails"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistantTool",
      "typeVersion": 1,
      "position": [
        1520,
        1216
      ],
      "id": "7386cc34-e999-447d-9175-e16073b6a50b",
      "name": "Get context snippets in Pinecone Assistant",
      "credentials": {
        "pineconeAssistantApi": {
          "id": "ImgtlZbsFbkMKCzH",
          "name": "Pinecone Assistant account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "emails_vector_search",
        "pineconeIndex": {
          "__rl": true,
          "value": "emailshistory",
          "mode": "list",
          "cachedResultName": "emailshistory"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        736,
        304
      ],
      "id": "27a4bf8c-2275-4a1e-811c-8bc652b06821",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "zkLu855wTsM48Krf",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "connections": {
    "New Email": {
      "main": [
        [
          {
            "node": "Get new Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split emails": {
      "ai_textSplitter": [
        [
          {
            "node": "Set proper metadata",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Split emails1": {
      "ai_textSplitter": [
        [
          {
            "node": "Set proper metadata1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Store Emails in Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get new Email Body": {
      "main": [
        [
          {
            "node": "Store Emails in Vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set proper metadata": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Set proper metadata1": {
      "ai_document": [
        [
          {
            "node": "Store Emails in Vector DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GetEmailsList email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop over all emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        []
      ]
    },
    "GetEmailsList email": {
      "main": [
        [
          {
            "node": "Refactor Email Body data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refactor Email Body data1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI11": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop over all emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over all emails": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c36b02c0-98de-45c4-b5f3-c4a8fddcdd19",
  "activeVersionId": null,
  "versionCounter": 361,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-12T17:28:45.520Z",
      "createdAt": "2026-02-12T17:28:45.520Z",
      "role": "workflow:owner",
      "workflowId": "_2rJXZEX2Yl6axOi668n-",
      "projectId": "3Aa1TdMrn6HM1XQF",
      "project": {
        "updatedAt": "2026-02-12T16:07:27.309Z",
        "createdAt": "2026-02-12T15:59:26.248Z",
        "id": "3Aa1TdMrn6HM1XQF",
        "name": "Urko Santillan <getxobelaeskola@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ebf74c25-213c-46b9-a63b-e349de02195f",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T15:59:26.248Z",
            "createdAt": "2026-02-12T15:59:26.248Z",
            "userId": "ebf74c25-213c-46b9-a63b-e349de02195f",
            "projectId": "3Aa1TdMrn6HM1XQF",
            "user": {
              "updatedAt": "2026-02-25T06:07:46.200Z",
              "createdAt": "2026-02-12T15:59:25.537Z",
              "id": "ebf74c25-213c-46b9-a63b-e349de02195f",
              "email": "getxobelaeskola@gmail.com",
              "firstName": "Urko",
              "lastName": "Santillan",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-12T16:07:48.567Z",
                "personalization_survey_n8n_version": "2.7.4",
                "companySize": "<20",
                "companyType": "education",
                "role": "customer-support",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "eeqPCy1bi0DhhlxA",
                "userActivatedAt": 1771980703393,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1771404097551
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}