n8n-manager/workflows/ia_tribunal__pr_auditor___auto_merge_qMCRxK7mbZ2UGVj5.json
{
  "updatedAt": "2026-02-25T20:20:00.000Z",
  "createdAt": "2026-02-22T23:59:10.443Z",
  "id": "qMCRxK7mbZ2UGVj5",
  "name": "IA Tribunal: PR Auditor & Auto-Merge",
  "description": "RAG-Enhanced Code Audit Swarm",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr-audit",
        "options": {}
      },
      "name": "GitHub PR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "webhook-pr-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://jules-orchestrator:3002/api/v1/sessions",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "=\"Audit Pull Request #\" + $node[\"GitHub PR Webhook\"].json[\"body\"][\"number\"] + \" in \" + $node[\"GitHub PR Webhook\"].json[\"body\"][\"repository\"][\"full_name\"] + \".\\n\\nPR DETAILS: \" + $node[\"GitHub PR Webhook\"].json[\"body\"][\"pull_request\"][\"title\"] + \"\\n\\nRAG CODEBASE CONTEXT:\\n\" + $json.map(r => r.text).join('\\n---\\n') + \"\\n\\nMISSION: Inspect code changes and provide a pass/fail verdict using LEAD_ORCHESTRATOR persona. Response format: VERDICT: PASS or VERDICT: FAIL followed by reasoning.\""
            },
            {
              "name": "repository",
              "value": "={{ $node[\"GitHub PR Webhook\"].json[\"body\"][\"repository\"][\"full_name\"] }}"
            },
            {
              "name": "account",
              "value": "getxobelaeskola@gmail.com"
            }
          ]
        }
      },
      "name": "Trigger Auditor Jules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        300
      ],
      "id": "http-audit-1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.result }}",
              "operation": "contains",
              "value2": "VERDICT: PASS"
            }
          ]
        }
      },
      "name": "Is Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "id": "if-audit-1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=\"https://api.github.com/repos/\" + $node[\"GitHub PR Webhook\"].json[\"body\"][\"repository\"][\"full_name\"] + \"/pulls/\" + $node[\"GitHub PR Webhook\"].json[\"body\"][\"number\"] + \"/merge\"",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=\"token \" + $env.GITHUB_TOKEN"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      },
      "name": "Auto-Merge GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        200
      ],
      "id": "http-merge-1"
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "value": "getxobelaeskola_code",
          "mode": "list"
        },
        "options": {}
      },
      "id": "qdrant-retrieval",
      "name": "Qdrant RAG",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        350,
        300
      ],
      "credentials": {
        "qdrantApi": {
          "id": "BKI5Kx2tihKTWCsJ",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "embeddings-node",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        350,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "hJ48bwYLNQIwKR5P",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "connections": {
    "GitHub PR Webhook": {
      "main": [
        [
          {
            "node": "Qdrant RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant RAG": {
      "main": [
        [
          {
            "node": "Trigger Auditor Jules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Auditor Jules": {
      "main": [
        [
          {
            "node": "Is Pass?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pass?": {
      "main": [
        [
          {
            "node": "Auto-Merge GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant RAG",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}